@mixin Button {
  appearance: none;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-family: $INTER;
  font-weight: 600;
  line-height: 1;

  &:hover {cursor: pointer}
}

@mixin ButtonPrimary {
  @include Button;
  background: $BLUE;
  border: 1px solid $BLUE;
  color: $WHITE;
  padding: 11px 18px;
}

@mixin ButtonSecondary {
  @include Button;
  background: none;
  border: 1px solid $GREY;
  padding: 10px 18px;
}
