@mixin ButtonStripped {
  background: none;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
}

@mixin Button {
  border-radius: 4px;
  display: inline-block;
  font-family: $INTER;
  font-weight: 600;
  line-height: 1;
  position: relative;
  transition: background .5s, border-color .5s;

  &:hover {cursor: pointer}
}

@mixin ButtonPrimary {
  @include Button;
  background: $BLUE2;
  border: 1px solid $BLUE2;
  color: $WHITE;
  padding: 11px 18px;

  &:hover { background: $BLUE; border-color:  $BLUE; }
}

@mixin ButtonSecondary {
  @include Button;
  background: none;
  border: 1px solid $GREY;
  padding: 10px 18px;

  &:hover {background: $GREY;}
}

@mixin ButtonClose {
  $d: 35px;
  appearance: none;
  align-items: center;
  background: $BLUELIGHT;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: $d;
  width: $d;

  &:hover {
    background: $BLUE;
    cursor: pointer;

    svg { fill: $WHITE; }
  }
}

@mixin Label {
  color: $GREY2;
  display: block;
  font-size: 15px;
}

@mixin Input {
  appearance: none;
  background: $WHITE;
  border: 1px solid $GREY;
  border-radius: 4px;
  color: $BLACK;
  display: block;
  flex: 1;
  font-family: $INTER;
  font-size: 15px;
  line-height: 1;
  min-width: 0;
  padding: 12px;

  &:placeholder { color: $GREY; }
}

@mixin Select {
  @include Input;

  option {color: $BLACK}

  &:invalid:required { color: grey; }
}


@mixin Shadow {
  box-shadow: 0 2px 12px rgba(#BEBEBE, .5);
}


@mixin FormAction {
  display: flex;
  justify-content: flex-end;
}

@mixin FormFieldset {
  background: $BLUELIGHT;
  border-radius: 12px;
  display: block;
  padding: 32px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

@mixin FormLegend {
  display: block;
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 22px;
}

@mixin FormRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  .full { grid-column: span 2 }
}
