@mixin Button {
  appearance: none;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-family: $INTER;
  font-weight: 600;
  line-height: 1;
  position: relative;
  transition: background .5s, border-color .5s;

  &:hover {cursor: pointer}
}

@mixin ButtonPrimary {
  @include Button;
  background: $BLUE2;
  border: 1px solid $BLUE2;
  color: $WHITE;
  padding: 11px 18px;

  &:hover { background: $BLUE; border-color:  $BLUE; }
}

@mixin ButtonSecondary {
  @include Button;
  background: none;
  border: 1px solid $GREY;
  padding: 10px 18px;

  &:hover {background: $GREY;}
}

@mixin Label {
  color: $GREY2;
  display: block;
  font-size: 15px;
}

@mixin Input {
  appearance: none;
  background: $WHITE;
  border: 1px solid $GREY;
  border-radius: 4px;
  color: $BLACK;
  display: block;
  font-family: $INTER;
  font-size: 15px;
  line-height: 1;
  padding: 12px;
  width: 100%;

  &:placeholder { color: $GREY; }
}

@mixin Select {
  @include Input;

  option {color: $BLACK}

  &:invalid:required { color: grey; }
}


@mixin Shadow {
  box-shadow: 0 2px 12px rgba(#BEBEBE, .5);
}
