$GREY: #E2E8F0;
$GREY2: #4A5568;
$GREY3: #EDF2F7;

$BLACK: #1A202C;


$BLUELIGHT: #F7FAFC;
$BLUEDARK: #006db5;
$BLUE: #3182CE;
$BLUE2: #4299E1;
$BLUEBUTTON: #009be7;
$BLUEGREY: #718096;

$RED: #C53030;

$WHITE: #FFF;

$INTER: 'Inter', sans-serif;
