$GREY: #E2E8F0;
$GREY2: #4A5568;
$GREY3: #EDF2F7;
$GREY4: #CBD5E0;
$GREY5: #A0AEC0;

$BLACK: #1A202C;

$BLUELIGHT: #F7FAFC;
$BLUEDARK: #006db5;
$BLUE: #3182CE;
$BLUE2: #009AFF;
$BLUEBUTTON: #009be7;
$BLUEGREY: #718096;

$RED: #C53030;

$WHITE: #FFF;

$FACEBOOK: #31599e;
$TWITTER: #00a3fa;
$LINKEDIN: #0096d5;

$INTER: 'Inter', sans-serif;
